doctype html
html
	head
		include include/meta
		title= "Meal Planner - Options"

	body(role="document")
		include include/menu
		div.container
			include include/title
			h2 Options
			div.panel.panel-default
				div.panel-heading
					h3.panel-title Openning Days
				div.day-choice
					div.day-list
						each v, i in restaurant.openningDays
							span.bold= i
							if v == "true"
								input.checkbox-day(type="checkbox", name=i, checked="checked")
							else
								input.checkbox-day(type="checkbox", name=i)
					button(class="btn btn-default", action="changeDays") Save Openning Days
			div.panel.panel-warning
				div.panel-heading
					h3.panel-title Change password
				form(role="form")
					table.panel-table
						tbody
							tr
								td.td-title Old password :
								td 
									input(type="password" name="oldPass" required="")
							tr
								td.td-title New password :
								td 
									input(type="password" name="newPass" required="")
							tr
								td.td-title New password (verification) :
								td 
									input(type="password" name="verifPass" required="" data-equals="password")
							tr
								td
								td
									button(class="btn btn-warning" type="submit"  style="width:155px;") Change Password

	include include/footer
	script(src="/public/js/jQuery/jquery-2.1.1.js")
	script(src="/public/js/bootstrap-3.1.1-dist/js/bootstrap.min.js")