doctype html
html
	head
		include include/meta
		link(rel="stylesheet", href="../public/js/bootstrap-3.1.1-dist/css/signin.css")
		title= "Meal Planner - Registration"

	body.no-padding
		div.container
			form.form-register(role="form" method="POST" action="/webapp/")
				h2 Meal Planner - Registration
				input(class="form-control" placeholder="Username" required="" autofocus="")
				input(type="email" class="form-control" placeholder="Email address" required="")
				input(type="password" class="form-control" placeholder="Password" required="")
				input(type="password" class="form-control" placeholder="Password (verification)" required="")
				input(class="form-control" placeholder="Restaurant name" required="")
				textarea(class="form-control" placeholder="Description of the restaurant...")
				input(class="form-control" placeholder="Address" required="")
				input(type="number" class="form-control" placeholder="Postal code" required="")
				input(class="form-control" placeholder="City" required="")
				button(class="btn btn-lg btn-info btn-block" type="submit") Register !
