meta(charset="utf-8")
meta(meta http-equiv="X-UA-Compatible" content="IE=edge")
meta(meta name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="/public/js/bootstrap-3.1.1-dist/css/bootstrap.min.css")
link(rel="stylesheet", href="/public/js/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css")
link(rel="stylesheet", href="/public/js/bootstrap-3.1.1-dist/css/sticky-footer-navbar.css")
link(rel="stylesheet" type="text/css" href="/public/js/dataTables-1.10.0/media/css/jquery.dataTables.css")
link(rel="stylesheet" type="text/css" href="/public/js/bootstrap-helper/dist/css/bootstrap-formhelpers.min.css")
link(rel="stylesheet", href="/public/stylesheets/style.css")